<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OCRSearchDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FAB29A81F5E9DF9009DAEDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FAB29C11F5E9DF9009DAEDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FAB29CC1F5E9DF9009DAEDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
